# Entorno
.env
.env.*.backup
.env.*.local

# Dependencias
/vendor
/node_modules
/src/vendor
/src/node_modules

# Laravel / build / public
/public/build
/public/hot
/public/storage

# Laravel folders a ignorar dentro de src
/src/storage/*
!/src/storage/.gitignore

/src/bootstrap/cache/*
!/src/bootstrap/cache/.gitignore

# SQLite
*.sqlite*
database/*.sqlite*

# Logs y caches
*.log
.phpunit.result.cache
/.phpunit.cache
coverage/
coverage.xml

# SPDX / scanner outputs (evita errores "Invalid argument")
.spdx-*
*.spdx
*.spdx.json
src/.spdx-laravel.json

# Keys / secrets
/storage/*.key
auth.json

# Editor/IDE y OS
/.idea
/.vscode
/.phpactor.json
/.fleet
/.zed
.DS_Store
Thumbs.db

# Docker overrides
docker-compose.override.yml
.docker-compose.*.yml

# Misc
Homestead.json
Homestead.yaml
